.date-picker {
  background-color: #fff !important;
  border-radius: 0px !important;  
  width: 150px !important;
  height: 100% !important;

  * {
    border: none !important;
  }

  .MuiPickersOutlinedInput-root {
    border-radius: 0px !important;
    height: 100% !important;
    border: 1px solid #ccc !important;

    svg {
      width: 14px !important;
      height: 14px !important;
    }
  }

  .MuiPickersSectionList-root {
    padding: 0px !important;
    font-size: 12px !important;
  }
}

