.task-column {
    width: 350px;
    background: #ffffff;
    border-radius: 8px;
    padding: 5px;
    flex-shrink: 0;

    .task-col-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f5f6f8;
        border-radius: 4px;
        padding: 0 5px;
        margin-bottom: 5px;

        .task-col-heading {
            font-size: 15px;
            color: #5a5a5a;
        }

        .task-count {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ffffff;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #5a5a5a;
            font-weight: 500;
        }
    }

    .task-card-list {
        .task-list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .task-list {
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-y: auto;
            }

            .task-card {
                background: #f5f6f8;
                padding: 12px;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                gap: 6px;

                &:hover {
                    outline: 2px solid #e1e1e1;
                    cursor: pointer;
                }
            }

            .task-top {
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 12px;
            }

            .priority {
                padding: 2px 6px;
                border-radius: 99px;
                font-weight: 500;
                text-transform: capitalize;
                width: max-content;
                display: flex;
                align-items: center;
                gap: 4px;

                svg {
                    font-size: 14px;
                }

                &.low {
                    background: #d1e7ff;
                    color: #1a73e8;
                }

                &.high {
                    background: #ffd6d6;
                    color: #d93025;
                }

                &.medium {
                    background: #bcf1d4;
                    color: #1acc32;
                }
            }

            .empty-priority {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #e1e1e1;
                color: #5a5a5a;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                svg {
                    font-size: 18px;
                }
            }

            .task-id {
                font-weight: 600;
                font-size: 16px;
                color: var(--color-primary);
            }

            .task-text {
                font-size: 16px;
                color: #444;
                font-weight: 500;
            }

            .task-meta {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                color: #777;

                .task-date {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    svg {
                        font-size: 16px;
                    }
                }

                .task-users {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .avatar-group {
                        .avatar {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .task-column {
        width: 100%;
    }
}
