.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0 10px;
    z-index: 1000;
}

.sidebar-collapsed {
    .sidebar {
        width: 70px;

        .logo-lg {
            display: none;
        }

        .logo-sm {
            display: block;
            width: 60%;
        }
    }

    .sidebar-nav {
        .nav-item {
            transition: none;
            &:hover {
                position: relative;
                width: 266px;
                color: #333;
                background-color: #f3f8fb;
                transition: none;
                box-shadow: inset 0 3px 10px #9aa1ab33;
                border-radius: 4px;
                padding: 1px 10px;

                .nav-link {
                    display: flex;
                    justify-content: start;
                    gap: 25px;
                    background: transparent;
                }

                .nav-title,
                .nav-link-title,
                .down-arrow {
                    display: inline;
                }
            }
        }

        .nav-link {
            justify-content: center;

            .nav-title,
            .nav-link-title,
            .down-arrow {
                display: none;
            }
        }
    }

    .sidebar-footer {
        .footer-action {
            flex-direction: column;
            align-items: center;
        }

        .sidebar-footer-actions {
            .sideber-collapse {
                top: calc(100% - 50px);
                right: -33px;
                rotate: 180deg;
            }
        }

        .user-info {
            flex-direction: column;
            .user-text {
                display: none;
            }
        }
    }
}

.MuiPaper-root {
    box-shadow: 1px 1px 20px 2px #b5b5b5a9 !important;
    opacity: 1;
    top: 520px !important;
    left: 223px !important;
}

.popover-menu {
    padding: .5em 1.5em;
    color: #475467;

    li {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 7px;
        font-size: 13px;

        svg {
            width: 13px;
        }
    }
}

.sidebar-logo {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e7f0;

    img {
        width: 75%;
    }

    .logo-sm {
        display: none;
    }
}

.sidebar-nav {
    flex: 1;
    margin-top: 10px;

    ul {
        list-style: none;
    }

    .nav-item {
        cursor: pointer;
        transition: background 0.2s ease;

        .nav-link {
            text-decoration: none;
            font-size: 14px;
            color: #475467;
            display: flex;
            align-items: center;
            gap: 7px;
            padding: 10px 7px;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        &:hover,
        &.active {
            & > .nav-link {
                color: var(--text-primary-hover);
                font-weight: 450;
                background: #f3f8fb;
            }
        }
    }
}

.sidebar-footer {
    border-top: 1px solid #e6e8ec;

    .sidebar-footer-actions {
        position: relative;
        padding: 5px 0;
        border-bottom: 1px solid #e6e8ec;

        .footer-action {
            display: flex;
            gap: 7px;

            .action-btn {
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: none;
                background: var(--color-secondary-light);
                color: #84888d;
                cursor: pointer;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .sideber-collapse {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -23px;
            background: none;
            border: none;
            cursor: pointer;

            svg {
                width: 35px;
                height: 35px;
            }
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 0;

        .user-info-icon {
            background: transparent;
            border: none;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
                color: var(--text-primary);
            }
        }
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #1677ff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }

    .user-text {
        flex: 1;
        .name {
            font-size: 13px;
            margin: 0;
            color: var(--text-primary);
        }

        .role {
            font-size: 11px;
            color: #667085;
        }
    }
}

@media (max-width: 764px) {
    .sidebar {
        left: -220px;
    }
    .sidebar-footer {
        .sidebar-footer-actions {
            .sideber-collapse {
                right: -33px;
                rotate: 180deg;
                top: -20px;
            }
        }
    }
    .sidebar-open {
        .sidebar {
            left: 0;
            transition: left 0.3s ease;

            .sidebar-nav {
                .nav-item {
                    display: block;
                }
            }
        }

        .sidebar-footer {
            .sidebar-footer-actions {
                .sideber-collapse {
                    right: -23px;
                    rotate: 0deg !important;
                    top: 50%;
                }
            }
        }
    }
}
