.task-chart-container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 220px;
  container-type: inline-size;

  @container (max-width: 400px) {
    .legend-wrapper {
      display: none;
    }
  }
}

.chart-wrapper {
  flex: 1;
  height: 100%;
}

.legend-wrapper {
  width: 150px;
}

.legend-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 6px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

