.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-layout {
    width: 100%;
    height: max-content;
    margin-left: 220px;
    background: #f5f6f8;
    overflow: hidden;
}

.sidebar-collapsed {
    .main-layout {
        margin-left: 70px;
    }
}

@media (max-width: 764px) {
    .main-layout {
        margin-left: 0;
    }
}
