.home-heading {
    padding: 5px;

    .heading-top {
        padding: 0 5px 5px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #70698a;
        border-bottom: 2px solid var(--color-gray-300);

        .heading-title {
            font-size: 14px;
            font-weight: 600;
        }

        svg {
            width: 16px;
            cursor: pointer;
        }
    }

    .heading-tabs {
        width: max-content;
        margin: 5px 0;
        border-radius: 6px;
        display: flex;
        gap: 4px;
        padding: 2px;
        border: 1px solid #b3d4fb;
        background: white;

        .tab {
            font-size: 13px;
            font-weight: 550;
            border: none;
            padding: 0 14px;
            display: flex;
            align-items: center;
            gap: 6px;
            background: #f1f1f1;
            color: var(--text-secondary, #6b7280);
            cursor: pointer;

            svg {
                width: 14px;
            }

            &:hover {
                background: var(--text-primary-hover, hwb(212 4% 5%));
                color: var(--color-white, #ffffff);
            }
        }

        .tab.active {
            background: var(--text-primary-hover, hwb(212 4% 5%));
            color: var(--color-white, #ffffff);
        }
    }
}

.heading-stats {
    display: flex;
    gap: 15px;
    margin: 0 5px;
    background: #ffffff;
    padding: 5px 10px;
    border: 1px solid var(--border-color, #e5e7eb);
    border-radius: 6px;
    white-space: nowrap;

    .stat-item {
        display: flex;
        align-items: center;
        gap: 10px;
        border-right: 1px solid #dee1e6;
        flex: 1;
        width: 100%;

        &:last-child {
            border-right: none;
        }

        .stat-icon {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 18px;
            }
        }

        &:nth-child(1) {
            .stat-icon {
                background: #fff5e0;
                svg {
                    color: #f0974f;
                }
            }
        }
        &:nth-child(2) {
            .stat-icon {
                background: #e7eefc;
                svg {
                    color: #2779f3;
                }
            }
        }
        &:nth-child(3) {
            .stat-icon {
                background: #e0fff5;
                svg {
                    color: #4ff0b2;
                }
            }
        }
        &:nth-child(4) {
            .stat-icon {
                background: #e0faff;
                svg {
                    color: #4fbdf0;
                }
            }
        }
        &:nth-child(5) {
            .stat-icon {
                background: #f6e0ff;
                svg {
                    color: #bd4ff0;
                }
            }
        }

        .stat-value {
            .stat-label {
                font-size: 13px;
                color: #70698a;
                font-weight: 400;

                &:first-child {
                    font-weight: 600;
                }
            }
        }
    }
}

.dashboard-card-wrapper {
    padding: 5px;

    .dashboard-card {
        height: 300px;
        background: #ffffff;
        border: 1px solid var(--border-color, #e5e7eb);
        border-radius: 6px;
        padding: 10px;

        .card-header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 15px;

            .card-title {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 8px;

                .card-heading {
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: #70698a;
                }

                .badge {
                    background: var(--color-primary, #4f46e5);
                    color: var(--color-white, #ffffff);
                    font-size: 14px;
                    padding: 4px;
                    height: max-content;
                }
            }

            .card-actions {
                display: flex;
                gap: 10px;

                .filter-select {
                    width: 150px;

                    .MuiInputBase-root {
                        height: 34px;
                        font-size: 10px;
                    }
                    .MuiSelect-select {
                        padding: 8px 12px;
                        display: flex;
                        align-items: center;
                    }

                    .MuiInputLabel-root {
                        font-size: 13px;
                    }
                }
            }
        }

        .card-body {
            height: calc(100% - 60px);
        }
    }
}

@media (max-width: 991px) {
    .heading-stats {
        overflow-x: auto;
        padding-bottom: 10px;

        .stat-item {
            border-right: none;
        }
    }
}

@media (max-width: 400px) {
    .home-heading {
        .heading-tabs {
            .tab {
                padding: 0 5px;
            }
        }
    }
}
