.auth-layout {
    width: 100%;
    height: 100%;
    background: url(/images/login-bg.png) no-repeat;
    background-size: contain;
    object-fit: cover;
    display: flex;

    .auth-left {
        width: 40%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .auth-left-content {
            width: 500px;
            height: 500px;
            border-radius: 50%;
            background: #0a6fe6;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            text-align: center;

            .auth-left-text {
                font-size: 2rem;
                color: #ffffff;
                font-weight: 500;
            }
        }
    }

    .auth-right {
        width: 60%;
        background: url(/images/auth-r-bg.png) no-repeat top right;
        background-size: cover;
        border-radius: 60px 0 0 60px;
    }
}
