.timeline-card {
    width: calc((100% / 6) - 9px);
    flex: 0 0 auto;
    flex-wrap: wrap;
    box-shadow: 1px 4px 10px 2px #dededea9;
    padding-bottom: 10px;
    border-radius: 4px;

    img {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .progress-bar {
        margin-bottom: 5px;
        progress {
            width: 95%;
            height: 6px;
            appearance: none;
        }

        progress::-webkit-progress-value {
            background: #09af6a;
            border-radius: 99px; 
            box-shadow: inset 0 1px 2px #00000040, 0 1px #ffffff14;
        }

        progress::-webkit-progress-bar {
            background-color: #00000040;
            border-radius: 99px;
            box-shadow: inset 0 1px 2px #00000040, 0 1px #ffffff14;
        }
    }

    .timeline-card-data {
        margin-left: 10px;

        .timeline-card-title {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            font-weight: 400;
            color: #4b465b;

            svg {
                width: 12px;
                color: var(--text-primary-hover);
            }
        }

        .card-activity {
            font-size: 11px;
            color: #4b465b;
            font-weight: 400;
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .timeline-card {
        width: calc((100% / 4) - 9px);
    }
}

@media (max-width: 764px) {
    .timeline-card {
        width: calc((100% / 2) - 9px);
    }
}

@media (max-width: 535px) {
    .timeline-card {
        width: 100%;
    }
}
